// These colors are specific to the theme. Do not use in a package!
@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #101010;
@cyan: #63dbcb;
@blue: #4e99d9;
@purple: #c275ef;
@green: #5edb3b;
@red: #db3b3b;
@orange: #db863b;
@light-orange: #f0c674;